:host {
    overflow: hidden;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

button {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 60px;
    padding: 0;
    border: none;
    padding: 5px;
}

.indicator {
    width: 100%;
    height: 5px;
    background-color: #505050;
    display: flex;
}

.indicator.active {
    background-color: #e0e0e0;
}

@keyframes blink-keyframes {
    50% {
        opacity: 0.0;
    }
}

.indicator.blink {
    animation: blink-keyframes 1s ease-in-out infinite;
}

.spacer {
    display: flex;
    flex: 1;
}

.label {
    color: #E0E0E0;
    font-family: sans-serif;
    font-size: 10px;
    display: flex;
}

button:focus {
    border: none;
}