.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
    padding: 10px;
    background-color: #500000;
}
.h-container {

    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
    gap: 10px;
}

.spacer {
    flex: 1;
}