
:host {
    overflow: hidden;
}
.container {
    overflow: hidden;
    /*background-color: #403030;*/
    /*background:  linear-gradient(235deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.0) 40%) no-repeat content-box, linear-gradient(135deg,#502020 0%, #301010 100%) no-repeat border-box;*/
    height: 60px;
    width: 30px;
    /*padding: 2px;

    color: #E0E0E0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;*/
    border: none;
    /*box-shadow: 0px 0px 15px 1px inset rgba(0,0,0,0.6);*/
}
.name {
    color: #c0c0c0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 60px;
    text-align: center;
    text-decoration: 3px solid underline;
    font-weight: bold;
    transform: translate(15px,30px) rotate(-90deg) translate(15px,-30px);
    /*text-shadow: 0px 0px 3px rgba(0,0,0,0.6);*/
}