:host {
    overflow: hidden;
}

.container {
    overflow: hidden;
    height: 60px;
    width: 30px;
    border: none;
}

.name {
    color: #c0c0c0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 60px;
    text-align: center;
    text-decoration: 3px solid underline;
    font-weight: bold;
    transform: translate(15px, 30px) rotate(-90deg) translate(15px, -30px);
}