:host {
    min-height: 0px;
    min-height: 300px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.active-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

}

.inactive-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    background-color: #181818;
    padding: 20px;
}

.hidden {
    display: none;
}

.h-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    gap: 10px;
}



.vertical {
    flex-direction: column;
}


.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #181818;
}

awsm-hint {

    display: flex;
    flex: 1;
}

awsm-wave-spline-canvas {
    display: flex;
    flex: 1;
}

awsm-wave-spline-node-list {
    display: flex;
    flex: 1;
}